
<div class="container">
    <div class="app-wrapper">
            <h2>Angular6 - Bootstrap3&4 - ngBootstrap2.0 Components</h2>
            <router-outlet></router-outlet>
            
        <!-- <app-accordian></app-accordian> 
        <app-carousel></app-carousel>
        <app-datepicker></app-datepicker>
        <app-dropdown></app-dropdown>
        <app-modal></app-modal>
        <app-pagination></app-pagination>
        <app-progressbar></app-progressbar>         
        <app-tabs></app-tabs>
        <app-time></app-time>
         <app-tooltip></app-tooltip>
        <app-typeahead></app-typeahead> -->
    </div>
</div>