
/* overwritting bootstrap3 styles */
html{
    font-size:100%;
}
.app-wrapper{
    margin:50px auto;
}
.app-wrapper img{
    width:100%;
}
.form-control{
    padding: 18px;
}
.modal-open .modal{
    opacity: 1;
}
.modal-content{
    border-radius: 0px;
}